.staff-slider {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.staff-info {
  margin-left: 100px;
}

.staff-info h2 {
  font-size: 52px;
  font-weight: 600;
  line-height: 55px;
  margin-bottom: 50px;
  margin-top: 0;
}

.staff-card {
  width: 488px;
  height: 150px;
  background: #ebf5fc;
  padding: 10px;
  border-radius: 15px;
}

.staff-card h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.staff-card p {
  color: grey;
  margin-left: 15px;
  font-size: 16px;
}

.highlight {
  color: #0da3ff;
  font-weight: 500;
}

.staff-controls {
  margin-top: 90px;
}

.staff-controls button {
  background: #0da3ff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  align-items: center;
}

.staff-controls button:hover {
  background: #007bff;
}

.carousel-container {
  width: 900px;
  height: 500px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-track img {
  margin: 5px;
  width: 360px;
  height: 450px;
  border-radius: 20px;
}

.carousel-track img.inactive {
  opacity: 0.6;
  transform: scale(0.95);
}

.carousel-track img.active {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 0 10px #bfd9ec;
}
