.steps-container {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 40px 20px;
  margin-bottom: 100px;
}

.steps-title {
  font-size: 52px;
  font-weight: 600;
  line-height: 55px;
  margin-top: 100px;
  margin-left: 80px;
  text-align: left;
}

.steps-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.step-item {
  flex: 1;
  text-align: center;
  position: relative;
}

.step-number {
  font-size: 62px;
  font-weight: 500;
  color: #e8eff3;
  margin-bottom: 10px;
}

.step-icon {
  font-size: 40px;
  color: #00aaff;
  margin-bottom: 10px;
}

.step-text {
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 1.4;
}

.step-item::after {
  content: "";
  position: absolute;
  top: 75px;
  right: -53%;
  width: 100%;
  height: 2px;
  background: #e0f4ff;
  z-index: -1;
}

.step-item:last-child::after {
  display: none;
}
